<!DOCTYPE html>

<script type="text/javascript" src=../static/js/jquery-3.2.1.min.js></script>
<script type="text/javascript" src=../static/js/control.js></script>
<script type="text/javascript" src=../static/js/dragndrop.js></script>
<link rel="stylesheet" href=../static/css/font-awesome-4.7.0/css/font-awesome.min.css>
<link rel="stylesheet" href=../static/css/bootstrap.min.css>
<link rel="stylesheet" href=../static/css/styleSheet.css>


<html>
<head>
    <title>Tree View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="row justify-content-md-center">
    <div class="col-md-auto4">
        <ul>
            <li>
                <div>
  <span class="fa fa-folder" ondragenter='return dragEnter(event)' ondragover='return dragOver(event)'
        ondrop='return dragDrop(event)'>
    <a id="0" href='#'>root</a>
  </span>
                    <div class="preload">
                        <ul>
                            <li>
        <span class="fa fa-folder" ondragenter="return dragEnter(event)" ondragover='return dragOver(event)'
              ondrop="return dragDrop(event)">
          <a id='1'
             href="#"
             draggable='true'
             ondragstart='return dragStart(event)'>Node 1</a>
        </span>
                                <div class="preload">
                                    <ul>
                                        <li>
              <span class="fa fa-folder" ondragenter="return dragEnter(event)" ondragover='return dragOver(event)'
                    ondrop="return dragDrop(event)">
                <a id='5'
                   href='#'
                   draggable='true'
                   ondragstart='return dragStart(event)'>leaf1</a>
              </span>
                                            <div class="preload">
                                                <ul>

                                                </ul>
                                            </div>
                                        </li>
                                        <li>
              <span class="fa fa-folder" ondragenter="return dragEnter(event)" ondragover='return dragOver(event)'
                    ondrop="return dragDrop(event)">
                <a id='6'
                   href='#'
                   draggable='true'
                   ondragstart='return dragStart(event)'>leaf2</a>
              </span>
                                            <div class='preload'>
                                                <ul>

                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
        <span class="fa fa-folder" ondragenter="return dragEnter(event)" ondragover='return dragOver(event)'
              ondrop="return dragDrop(event)">
          <a id='2'
             href="#"
             draggable='true'
             ondragstart='return dragStart(event)'>branch lvl1</a>
        </span>
                                <div class="preload">
                                    <ul>
                                        <li>
              <span class="fa fa-folder" ondragenter="return dragEnter(event)" ondragover='return dragOver(event)'
                    ondrop="return dragDrop(event)">
                <a id='3'
                   href='#'
                   draggable='true'
                   ondragstart='return dragStart(event)'>leaf1</a>
              </span>
                                            <div class='preload'>
                                                <ul>

                                                </ul>
                                            </div>
                                        </li>
                                        <li>
              <span class="fa fa-folder" ondragenter="return dragEnter(event)" ondragover='return dragOver(event)'
                    ondrop="return dragDrop(event)">
                <a id='7'
                   href='#'
                   draggable='true'
                   ondragstart='return dragStart(event)'>leaf2</a>
              </span>
                                            <div class='preload'>
                                                <ul>

                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-xs-4">
        <button type="button" class="btn btn-primary" id="nCreate">Create</button>
        <button type="button" class="btn btn-info" id="nRename">Rename</button>
        <button type="button" class="btn btn-danger" id="nDelete">Delete</button>
    </div>
</div>
</body>
</html>